/*

.span-gender {

} 

.span-sport {

}

*/

body {
  display: flex;
  justify-content: center;
}
#form {
  margin-top: 10px;
  width: 90vw;
  max-width: 500px;
}

.field-error {
  color: red
}
.textinput:invalid {
  border-color: red;
}

.textinput {
  background-color: black;
}
